.board {
    display: grid;
    grid-template-columns: repeat(8, 0fr);


}

.boardRow {
    display: contents;

}

.boardCell {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.piece {
    width: 80px;
    height: 80px;
}

.isSelectedPiece {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;

}